@charset "utf-8";
/* CSS Document */


body {
    margin:0px;
	list-style-type:square;
}
.paralax {
    width:100%;
    height:778px;
    background-image:url(ceystalhorizon-flat-design-wallpapers-HD-free-wallpapers-backgrounds-images-FHD-4k-download-2014-2015-2016.jpg);
    background-position:center;
    background-attachment:fixed;
    position:relative;
    background-repeat:repeat-x;
    background-size:cover;
    top:0px;
    left:0px;
	animation-name:fadeInUp;
	animation-duration: 1s;
	overflow:hidden;
}
#top {
    width:100%;
    height:110px;
    float:left;
    position:fixed;
    background:linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 99%);
    opacity:0.9; 
    top:0px;
    left:0px;
    z-index:999;
	
}



#topLeft{
    height:110px;
    color:rgba(0,0,0,1.00);
    width:30%;
    float:left;
}

#topRight {
    height:110px;
    width:70%;
    text-align:left;
    float:left;    
    color:rgba(0,0,0,1.00);
}

div .menu {
    background-color:none;
    overflow:auto;
    white-space:nowrap; 
}

div .menu a {
    display:inline-block;
    color:#FFFFFF;
    text-align:center;
    padding:20px;
    margin-right:20px;
    text-decoration:none;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:22px;
    transition:all 1s ease-out;
}

#topRight-menu {
    text-align:right;
    padding-top:20px;
    padding-bottom:20px;
}

div .menu a:hover {
    background-color:#777;
}

#TopContent {
    top: 204px;
    left: 0px;
    width: 100%;
    height: 290px;
    position: relative;
    text-align: center;
    opacity: 0.77;
	
}

#header1 {
    color: rgba(255,255,255,1.00);
    font-family: "Myriad Set Pro";
    position: absolute;
    font-size: 36px;
    padding: 16px;
    left: 604px;
    top: 1px;
    width: 53px;
}

#header2 {
    color: rgba(255,255,255,1.00);
    font-family: "Segoe UI Light";
    position: absolute;
    font-size: 90px;
    padding: 0px;
    top: 8px;
    left: 423px;
    letter-spacing: 7px;
}

#header3 {
    color: rgba(255,255,255,1.00);
    font-family: "Myriad Set Pro";
    position: absolute;
    font-size: 28px;
    padding: 16px;
    left: 546px;
    top: 184px;
}

#header {	 
    font-size:32px; 
    margin:0px;
    margin-top:19px;
    margin-left:23px;
    margin-bottom:9px;
    margin-right:34px;
    color:rgba(255,255,255,1.00);
    font-family:"Lato", san-serif;
    letter-spacing:5px;
}    

#mid {
    width:100%;
    height:1000px;
	animation-name:fadeInUpAfter;
	animation-duration: 2s;
	animation-delay: 1.0s;
	visibility:visible;
}

.header_mid {
    width:70%;
    height:350px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#header-mid-define {
    font-size:65px;
    font-family:"Myriad Set Pro";
    letter-spacing:3.5px;
    margin-bottom:35px;
}

#header-mid-define1 {
    font-family:"Lato", san-serif;
    font-size:24px;
}

.middle-mid-header {
    font-family:"Segoe UI Light";
    font-size:28px;
}

.middle-mid {
    background-color:rgba(73,73,73,1.00);
    height:650px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    color:rgba(255,255,255,1.00);
    padding-top:50px;
    padding-bottom:100px;
	
   
}

#middle-mid-different {
    font-size:65px;
    font-family:"Myriad Set Pro";
    letter-spacing:3.5px;
    padding-top:65px;
    padding-bottom:55px;
    margin-top:0px;
    margin-bottom:0px;
}

#middle-mid-different2 {
    height:400px;
    width:100%;
    float:left;
}

#middle-mid-different2-1  {
    height:400px;
    width:33%;
    float:left;
	
	
	
}

#middle-mid-different2-2 {
    height:400px;
    width:33%;
    float:left;
	
}

#middle-mid-different2-3 {
    height:400px;
    width:33.9%;
    float:left;
	

}

.icon {
    margin:18px;
}

.middle-mid-paragraph {
    margin:31px;
    font-size:20px;
    font-family:"Myriad Set Pro";
}

.paralax_2 {
    width:100%;
    height:700px;
    background:linear-gradient(to bottom, #E5EEC1, #A2D4AB, #3EACAB, #547AB2, #5A5050);
    background-position:center;
    background-attachment:fixed;
    position:relative;
    background-repeat:no-repeat;
    background-size:cover;
}


.paralax-2-content {
    height:300px; 	
    width:32%; 
    position:absolute;
    color:#FFFFFF;
    text-align:center;
}

#paralax_content1 {
    top:20%;
    left:0px;
}

#paralax_content2 {
    top: 20%;
    left: 34%;
}

#paralax_content3 {
    top: 20%;
    left:68%;
}

.count {
    font-size:90px;
    font-family:"Segoe UI Light";
    text-decoration:none;
    margin-top:20px;
    margin-bottom:20px;
}

.paralax-2-content-mid {
    padding-top:10px;
    padding-left:32px;
    padding-right:32px;
    padding-bottom:32px;
    font-size:24px;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.paralax_2_header {
    text-align:center;
    font-size:65px;
    font-family:"Myriad Set Pro";
    letter-spacing:3.5px;
    padding-top:65px;
    padding-bottom:55px;
    margin-top:0px;
    margin-bottom:0px;  
}

#mid2 {
    width:100%;
    height:550px;
}

.mid2_container {
    float:left;
    height:500px; 
}

.paralax_3 {
    width:100%;
    height:700px;
    background-image: url(ng-colab-space_day.gif);
    background-position:center;
    background-attachment:fixed;
    position:relative;
    background-repeat:no-repeat;
    background-size:cover;
}

#Appendix {
    width:100%;
    height:320px;
    background-color:#5C5C5C;
	padding:50px;
	font-family:'Segoe UI Light';
    box-sizing: bo
}

#paralax3_1 {
	text-align:center;font-family:'Segoe UI Light';font-size:60px;padding-top:200px;padding-left:30px;padding-right:30px;color:#FFFFFF;position:absolute
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUpAfter {
  0% {
 
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
	visibility:hidden;
  }

  100% {

    -webkit-transform: translateY(0);
    transform: translateY(0);
	visibility:visible;
  }
}

@keyframes fadeInUpAfter {
  0% {

    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
	visibility:hidden;
  }

  100% {
 
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
	visibility:visible;
  }
}