@charset "utf-8";
/* CSS Document */

body {
    margin:0px;
}


#mid {
    text-align:center;	 
    height:1200px;
    font-family:"Myriad Set Pro"; 
    width:70%;
	padding-top:40px;
    margin-left:auto;
    margin-right:auto;
	animation-name:fadeInUp;
	animation-duration: 1s;
}

form {
    font-size:24px;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    width:100%;
    height:auto;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
}

.button {
    border-radius: 4px;
    background-color: #00FFF3;
    border: none;
    color: #6100FF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

input {
    height:45px;
    width:350px;
    font-size:18px;
    margin:24px;
    -webkit-transition:width 0.4s ease-in-out;
    transition:width 0.4s ease-in-out;
}

a {
	text-decoration:none;
}

input:focus {
    width:70%
}


#agreeTerm, #received {
    width:20px;
    margin:0;
    margin-top:10px;
    margin-right:10px;

}

#Appendix, #or {
	font-family:'Segoe UI Light';
}

#Appendix {
    width:100%;
    height:320px;
    background-color:#5C5C5C;
	padding:50px;
}

#or {
	margin:20px;
	text-align:center;
	font-size:29px;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
